/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(220, 68%, 54%);
  --first-color-lighten: hsl(220, 68%, 97%);
  --title-color: hsl(220, 48%, 28%);
  --text-color: hsl(220, 12%, 45%);
  --body-color: hsl(220, 100%, 99%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
  background-color: var(--body-color);
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.3s;
}

.nav__logo i {
  font-size: 1.25rem;
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__toggle-menu,
.nav__toggle-close {
  font-size: 1.25rem;
  color: var(--title-color);
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__toggle-close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    background-color: var(--body-color);
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    padding-block: 1.5rem 4rem; /* padding top - bottom */
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }

  .nav__menu::-webkit-scrollbar {
    width: 0.5rem;
  }

  .nav__menu::-webkit-scrollbar-thumb {
    background-color: hsl(200, 12%, 70%);
  }
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__link:hover {
  background-color: var(--first-color-lighten);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__toggle-menu {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__button {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.5rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__content,
.dropdown__group,
.dropdown__list {
  display: grid;
}

.dropdown__container {
  background-color: var(--first-color-lighten);
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}

.dropdown__content {
  row-gap: 1.75rem;
}

.dropdown__group {
  padding-left: 2.5rem;
  row-gap: 0.5rem;
}

.dropdown__group:first-child {
  margin-top: 1.25rem;
}

.dropdown__group:last-child {
  margin-bottom: 1.25rem;
}

.dropdown__icon {
  font-size: 1.25rem;
  color: var(--first-color);
}

.dropdown__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.dropdown__list {
  row-gap: 0.25rem;
}

.dropdown__link {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  transition: color 0.3s;
}

.dropdown__link:hover {
  color: var(--title-color);
}

/* Rotate dropdown icon */
.show-dropdown .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
  .dropdown__group {
    padding-left: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  /* Nav */
  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    column-gap: 3rem;
    height: 100%;
  }

  .nav li {
    display: flex;
  }

  .nav__link {
    padding: 0;
  }

  .nav__link:hover {
    background-color: initial;
  }

  /* Dropdown */
  .dropdown__button {
    column-gap: 0.25rem;
    pointer-events: none;
  }

  .dropdown__container {
    height: max-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 6.5rem;
    background-color: var(--body-color);
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }

  .dropdown__content {
    grid-template-columns: repeat(4, max-content);
    column-gap: 6rem;
    max-width: 1120px;
    margin-inline: auto; /* margin left and right auto */
  }

  .dropdown__group {
    padding: 4rem 0;
    align-content: baseline;
    row-gap: 1.25rem;
  }

  .dropdown__group:first-child,
  .dropdown__group:last-child {
    margin: 0;
  }

  .dropdown__list {
    row-gap: 0.75rem;
  }

  .dropdown__icon {
    width: 60px;
    height: 60px;
    background-color: var(--first-color-lighten);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
  }

  .dropdown__icon i {
    font-size: 2rem;
  }

  .dropdown__title {
    font-size: var(--normal-font-size);
  }

  .dropdown__link {
    font-size: var(--small-font-size);
  }

  .dropdown__link:hover {
    color: var(--first-color);
  }

  .dropdown__item {
    cursor: pointer;
  }

  /* Rotate dropdown icon */
  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }

  /* Show dropdown menu */
  .dropdown__item:hover > .dropdown__container {
    top: 5.5rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
  }
}

@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto; /* margin left and right auto */
  }
}



.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire section */
  z-index: -1; /* Place the video behind the text */
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Dark overlay */
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1; /* Ensure text stays on top of the video */
}

.hero-text h1 {
  font-size: 4rem;
  margin: 0;
}

.hero-text p {
  font-size: 1.5rem;
  margin: 20px 0;
}
.btn-1,
.btn-1 *,
.btn-1 :after,
.btn-1 :before,
.btn-1:after,
.btn-1:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-1 {
  -webkit-tap-highlight-color: transparent;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  padding: 12px 30px;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: all 0.3s ease;
}

/* Hover effect */
.btn-1:hover {
  background-color: #333;
  border-color: #fff;
  color: #999; /* Text color on hover */
}

/* Disabled state */
.btn-1:disabled {
  cursor: default;
}

/* Focus outline for accessibility */
.btn-1:-moz-focusring {
  outline: auto;
}

/* Handling SVG display */
.btn-1 svg {
  display: block;
}

/* Handle hidden elements */
.btn-1 [hidden] {
  display: none;
}

/* Button shape adjustments */
.btn-1 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
}

/* Hover color adjustment */
.btn-1:hover {
  color: #999;
}


#moving-text-section {
  width: 100%;
  background-color: #000; /* Black background */
  padding: 30px 0; /* Adjusts the padding to create space around the text */
  text-align: center;
  overflow: hidden; /* Hides the text when it moves outside the section */
}

.moving-text {
  display: inline-block;
  font-size: 1.5rem; /* Adjust the font size */
  color: #fff; /* White text color */
  font-weight: 700;
  white-space: nowrap; /* Prevents the text from wrapping */
  animation: scrollText 10s linear infinite; /* Applies animation */
}

@keyframes scrollText {
  0% {
    transform: translateX(100%); /* Starts from the right */
  }
  100% {
    transform: translateX(-100%); /* Moves to the left */
  }
}



/* Scoped styles for the location section */  
.location-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em; /* Adjusted gap for better spacing */
  padding: 50px 20px;
  background-color: #000000; /* Black background for a sleek appearance */
  color: white;
  flex-wrap: wrap; /* Allows content to wrap on smaller screens */
}

.location-section .box {
  max-width: 600px;
}

.location-section h1 {
  font-size: 3em; /* Adjusted font size for better responsiveness */
  margin-bottom: 1em;
  color: #ffffff;
}

.location-section p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #cccccc;
}

.location-section iframe {
  border-radius: 15px; /* Slightly smaller border radius for better fit */
  border: none;
  width: 100%; /* Makes it responsive */
  max-width: 500px;
  height: 400px;
  opacity: 0.8; /* Slightly lighter opacity for effect */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.location-section iframe:hover {
  transform: scale(1.05);
  opacity: 1;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #149e9e;
  --secondary-color: #000000;
  --text-dark: #f0f0f0;
  --text-light: #000000;
  --white: #ffffff;
}



body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
}

.section__container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  text-align: center;
}

.section__container h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.section__container h1 {
  position: relative;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.section__container h1::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 2px;
  width: 5rem;
  background-color: var(--primary-color);
}

.section__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.section__card {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding: 5rem 2rem 2rem;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.section__card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 75%;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--primary-color);
  z-index: -1;
  transition: 0.5s;
}

.section__card span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 3rem;
  color: var(--white);
}

.section__card h4 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}

.section__card p {
  margin-bottom: 2rem;
  color: var(--text-light);
  transition: 0.3s;
}

.section__card img {
  margin-bottom: 1rem;
  max-width: 100px;
  border-radius: 100%;
  border: 2px solid var(--primary-color);
  transition: 0.3s;
}

.section__card h5 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}

.section__card h6 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-light);
  transition: 0.3s;
}

.section__card:hover::before {
  width: 400%;
}

.section__card:hover :is(h4, h5) {
  color: var(--white);
}

.section__card:hover :is(p, h6) {
  color: var(--secondary-color);
}

.section__card:hover img {
  border-color: var(--white);
}



/*=============== FOOTER ===============*/
  .footer {
    background-color: var(--body-color);
    padding: 3rem 1.5rem;
    box-shadow: 0 -2px 8px hsla(220, 68%, 12%, 0.1);
    z-index: var(--z-fixed);
  }

.footer__container {
  max-width: 1120px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-size: 1.25rem;
}

.footer__logo i {
  font-size: 1.5rem;
}

.footer__logo span {
  font-size: 1.25rem;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.footer__link {
  font-weight: var(--font-medium);
  color: var(--title-color);
  font-size: var(--small-font-size);
  padding: 0.5rem;
  transition: color 0.3s;
}

.footer__link:hover {
  color: var(--first-color);
}


/* Small devices */
@media screen and (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    text-align: center;
  }

  .footer__links {
    justify-content: center;
    row-gap: 1rem;
  }

  .footer__social {
    justify-content: center;
    margin-top: 1rem;
  }
}

.reservation-section {
  padding: 40px;
  background-color: #000000;
}

.reservation-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: white;
}

.form-group input, 
.form-group select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: #fff8f8;
}

button.btn-1 {
  padding: 10px 20px;
  font-size: 16px;
  color: #000000;
  background-color: #fffefe;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.btn-1:hover {
  background-color: #555;
}
.reservation-section h2,
.reservation-section p {
    color: rgb(255, 255, 255); /* Change text color to black */
    text-align: center; /* Center-align the text */
}
